body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    margin: 0;
}
.cs_content{
    padding: 0 24px;
}
/* sidebar css */
.content_sidebar{
    overflow: auto;
    direction: rtl;
    width: 250px;
    position: relative;
    top: 0;
    padding: 10px;
    /* z-index: 10; */
    height: 700px;
    border-radius: 6px;
}
.item_subitem{
    direction: ltr;
}
.content_sidebar::-webkit-scrollbar-thumb {
    /* background-color: #2800da;  */
    border-radius: 8px; 
    background-color: darkgrey;
    /* height: 5px; */
}
.content_sidebar::-webkit-scrollbar {
    width: 4px; 
}
.items_sub_menu p{
    display: none;
}
.h3_css,
.item_h2 {
    padding:4px 0 4px 12px;
    border-radius: 4px;
}
.h3_css{
    padding-left: 24px;
}
.entry-content{
    overflow: auto;
    position: relative;
    height: 700px;
    padding: 0 16px;
    /* border-right: 1px solid #ddd; */
    background-color: rgb(255, 255, 255);
}
.content_sidebar_wrapper{
    position: relative;
}
/* scroll */
::-webkit-scrollbar {
    width: 8px; 
}
::-webkit-scrollbar-track {
    background: #f4f4f4; 
}
::-webkit-scrollbar-thumb {
    background-color: #29298c; 
    border-radius: 8px; 
    border: 1px solid #f4f4f4; 
}
::-webkit-scrollbar-thumb:hover {
    background-color: #0e0e61;
    cursor: pointer;
}
/* #save_setting{
    background-color: rgb(50, 50, 163);
} */