body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
p{
    margin: 0;
}
/* .cs_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 24px;
} */
.cs_content{
    border-right: 1px solid gray;
    padding: 0 24px;
}
/* sidebar css */

/* .content_sidebar_wrapper{
    position: relative;
} */
.content_sidebar{
    width: 200px;
    /* position: sticky; */
    /* top: 1000px;  */
    padding: 10px;
    z-index: 10;
    /* border-right: 1px solid #ddd; */
    /* height: calc(100vh - 10px);  */
    overflow-y: auto;
    background-color: #fff; 
}
.items_sub_menu p{
    display: none;
}
.h3_css,
.item_h2 {
    padding:4px 0 4px 12px;
    border-radius: 4px;
}
.h3_css{
    padding-left: 24px;
}
.entry-content{
    overflow-y: scroll;
    height: 100vh;
    direction: rtl;
    padding: 0 16px;
    border-right: 1px solid #ddd;
}
.entry-content p,h2,h3{
    direction: ltr;
}
.storefront-container {
    overflow: visible !important; 
}
.content_sidebar_wrapper{
    position: relative;
}
/* scroll */
::-webkit-scrollbar {
    width: 8px; 
}
::-webkit-scrollbar-track {
    background: #f4f4f4; 
}
::-webkit-scrollbar-thumb {
    background-color: #29298c; 
    border-radius: 8px; 
    border: 1px solid #f4f4f4; 
}
::-webkit-scrollbar-thumb:hover {
    background-color: #0e0e61;
    cursor: pointer;
}
/* #save_setting{
    background-color: rgb(50, 50, 163);
} */